<form novalidate [formGroup]="form" (ngSubmit)="submit()" class="form-horizontal">
  <div *ngFor="let schemaKey of schemaKeys">
    <div [ngSwitch]="schema[schemaKey].instanceOverride || schema[schemaKey].instance">

      <app-formcontrol-input *ngSwitchCase="'Boolean'" [form]="form" [field]="schema[schemaKey].displayName || schemaKey" [inputType]="'checkbox'"></app-formcontrol-input>
      <app-formcontrol-input *ngSwitchCase="'Number'" [form]="form" [field]="schema[schemaKey].displayName || schemaKey" [inputType]="'number'"></app-formcontrol-input>
      <app-formcontrol-input *ngSwitchCase="'Date'" [form]="form" [field]="schema[schemaKey].displayName || schemaKey" [inputType]="'datetime-local'"></app-formcontrol-input>
      <app-formcontrol-input *ngSwitchCase="'Hidden'" [form]="form" [field]="schema[schemaKey].displayName || schemaKey" [inputType]="'hidden'"></app-formcontrol-input>
      <app-formcontrol-input *ngSwitchCase="'Disabled'" [form]="form" [field]="schema[schemaKey].displayName || schemaKey" [inputType]="'text'"></app-formcontrol-input>

      <app-formcontrol-select *ngSwitchCase="'SingleSelect'" [form]="form" [object]="object" [field]="schema[schemaKey].displayName || schemaKey" [multiple]="false" [items]="schema[schemaKey].options"></app-formcontrol-select>
      <app-formcontrol-select *ngSwitchCase="'MultiSelect'" [form]="form" [object]="object" [field]="schema[schemaKey].displayName || schemaKey" [multiple]="true" [items]="schema[schemaKey].options"></app-formcontrol-select>

      <!-- Array of subdocuments -->
      <div *ngSwitchCase="'Array'">
        <app-formcontrol-array-rel
          *ngIf="schema[schemaKey].schema" 
          [form]="form" 
          [object]="object" 
          [field]="schema[schemaKey].displayName || schemaKey" 
          [schema]="schema[schemaKey].schema">
        </app-formcontrol-array-rel>
      </div>

      <!-- Single select for relationship (searches for matches) -->
      <div *ngSwitchCase="'ObjectID'">
        <app-formcontrol-select-rel 
          *ngIf="schema[schemaKey].options && schema[schemaKey].options.ref" 
          [form]="form" 
          [object]="object" 
          [searchClass]="schema[schemaKey].options.ref" 
          [searchField]="schema[schemaKey].searchField" 
          [field]="schema[schemaKey].displayName || schemaKey" 
          [multiple]="false">  
        </app-formcontrol-select-rel>
      </div>

      <!-- Select array of relationships (searches for matches) -->
      <div *ngSwitchCase="'Array'">
        <app-formcontrol-select-rel 
          *ngIf="schema[schemaKey].caster.options && schema[schemaKey].caster.options.ref"
          [form]="form" 
          [object]="object" 
          [searchClass]="schema[schemaKey].caster.options.ref"
          [searchField]="schema[schemaKey].searchField"
          [field]="schema[schemaKey].displayName || schemaKey"
          [multiple]="true">
        </app-formcontrol-select-rel>
      </div>

      <!-- Select array of strings -->
      <div *ngSwitchCase="'Array'">
        <app-formcontrol-array
          *ngIf="schema[schemaKey].caster.options && !schema[schemaKey].caster.options.ref"
          [form]="form" 
          [field]="schema[schemaKey].displayName || schemaKey">
        </app-formcontrol-array>
      </div>

      <!-- Single embedded document -->
      <div *ngSwitchCase="'Embedded'">
        <app-formcontrol-group
          [form]="form"
          [field]="schema[schemaKey].displayName || schemaKey" 
          [schema]="schema[schemaKey].schema">
        </app-formcontrol-group>
      </div>

      <!-- Wysiwyg editor -->
      <div *ngSwitchCase="'Wysiwyg'">
        <app-formcontrol-tinymce 
          [form]="form" 
          [field]="schema[schemaKey].displayName || schemaKey">
        </app-formcontrol-tinymce>
      </div>

      <!-- Images -->
      <div *ngSwitchCase="'Image'">
        <app-formcontrol-file-upload
          [isMultiple]="false"
          [field]="schema[schemaKey].displayName || schemaKey"
          [object]="object"
          [allowedMimeType]="schema[schemaKey].allowedMimeType"
          [maxFileSize]="schema[schemaKey].maxFileSize"
          [form]="form">
        </app-formcontrol-file-upload>
      </div>

      <!-- File -->
      <div *ngSwitchCase="'File'">
        <app-formcontrol-file-upload
          [isMultiple]="false"
          [field]="schema[schemaKey].displayName || schemaKey"
          [object]="object"
          [allowedMimeType]="schema[schemaKey].allowedMimeType"
          [maxFileSize]="schema[schemaKey].maxFileSize"
          [form]="form">
        </app-formcontrol-file-upload>
      </div>

      <!-- Multiple images -->
      <div *ngSwitchCase="'ImageArray'">
        <app-formcontrol-file-upload
          [isMultiple]="true"
          [field]="schema[schemaKey].displayName || schemaKey"
          [object]="object"
          [allowedMimeType]="schema[schemaKey].allowedMimeType"
          [maxFileSize]="schema[schemaKey].maxFileSize"
          [form]="form">
        </app-formcontrol-file-upload>
      </div>

      <!-- Multiple files -->
      <div *ngSwitchCase="'FileArray'">
        <app-formcontrol-file-upload
          [isMultiple]="true"
          [field]="schema[schemaKey].displayName || schemaKey"
          [object]="object"
          [allowedMimeType]="schema[schemaKey].allowedMimeType"
          [maxFileSize]="schema[schemaKey].maxFileSize"
          [form]="form">
        </app-formcontrol-file-upload>
      </div>

      <!-- Default input type -->
      <div *ngSwitchDefault>
        <app-formcontrol-input [form]="form" [field]="schema[schemaKey].displayName || schemaKey" [inputType]="'text'"></app-formcontrol-input>
      </div>
    </div>

    <!-- Display validation errors -->
    <control-errors [control]="form.controls[schemaKey]"></control-errors>
  </div>

  <!-- <button type="submit" [disabled]="!form.valid">Save</button> -->
  <button type="submit">Save</button>
</form>
