<form novalidate [formGroup]="form" (ngSubmit)="submit()" class="form-horizontal">
  <div *ngFor="let schemaKey of schemaKeys">
    <p>schemaKeys: {{schemaKeys}}</p>
    <div>
      <app-formcontrol-input
        *ngIf="schema[schemaKey].instanceOverride === 'Boolean' ||
        schema[schemaKey].instance === 'Boolean'"
        [form]="form"
        [field]="schemaKey"
        [displayName]="schema[schemaKey].displayName || schemaKey"
        [inputType]="'checkbox'">
      </app-formcontrol-input>

      <app-formcontrol-input
        *ngIf="schema[schemaKey].instanceOverride === 'Number' ||
        schema[schemaKey].instance === 'Number'"
        [form]="form"
        [field]="schemaKey"
        [displayName]="schema[schemaKey].displayName || schemaKey"
        [inputType]="'number'">
      </app-formcontrol-input>

      <app-formcontrol-input
        *ngIf="schema[schemaKey].instanceOverride === 'Date' ||
        schema[schemaKey].instance === 'Date'"
        [form]="form"
        [field]="schemaKey"
        [displayName]="schema[schemaKey].displayName || schemaKey"
        [inputType]="'datetime-local'">
      </app-formcontrol-input>

      <app-formcontrol-input
        *ngIf="schema[schemaKey].instanceOverride === 'Hidden' ||
        schema[schemaKey].instance === 'Hidden'"
        [form]="form"
        [field]="schemaKey"
        [displayName]="schema[schemaKey].displayName || schemaKey"
        [inputType]="'hidden'">
      </app-formcontrol-input>

      <app-formcontrol-input
        *ngIf="schema[schemaKey].instanceOverride === 'Disabled' ||
        schema[schemaKey].instance === 'Disabled'"
        [form]="form"
        [field]="schemaKey"
        [displayName]="schema[schemaKey].displayName || schemaKey"
        [inputType]="'text'">
      </app-formcontrol-input>

      <app-formcontrol-select
        *ngIf="schema[schemaKey].instanceOverride === 'SingleSelect' ||
        schema[schemaKey].instance === 'SingleSelect'"
        [form]="form"
        [object]="object"
        [field]="schemaKey"
        [displayName]="schema[schemaKey].displayName || schemaKey"
        [multiple]="false"
        [items]="schema[schemaKey].options"
        [displayName]="schema[schemaKey].displayName || schemaKey">
      </app-formcontrol-select>

      <app-formcontrol-select
        *ngIf="schema[schemaKey].instanceOverride === 'MultiSelect' ||
        schema[schemaKey].instance === 'MultiSelect'"
        [form]="form"
        [object]="object"
        [field]="schemaKey"
        [displayName]="schema[schemaKey].displayName || schemaKey"
        [multiple]="true"
        [items]="schema[schemaKey].options"
        [displayName]="schema[schemaKey].displayName || schemaKey">
      </app-formcontrol-select>

      <!-- Array of subdocuments -->
      <div *ngIf="schema[schemaKey].instanceOverride === 'Array' || schema[schemaKey].instance === 'Array'">
        <app-formcontrol-array-rel
          *ngIf="schema[schemaKey].schema"
          [disabled]="schema[schemaKey].instanceOptions && schema[schemaKey].instanceOptions.disabled" 
          [form]="form"
          [object]="object" 
          [field]="schemaKey"
          [displayName]="schema[schemaKey].displayName || schemaKey"
          [schema]="schema[schemaKey].schema">
        </app-formcontrol-array-rel>
      </div>

      <!-- Single select for relationship (searches for matches) -->
      <div *ngIf="schema[schemaKey].instanceOverride === 'ObjectID' || schema[schemaKey].instance === 'ObjectID'">
        <app-formcontrol-select-rel 
          *ngIf="schema[schemaKey].options && schema[schemaKey].options.ref" 
          [form]="form" 
          [object]="object" 
          [searchClass]="schema[schemaKey].options.ref" 
          [searchField]="schema[schemaKey].searchField" 
          [field]="schemaKey"
          [displayName]="schema[schemaKey].displayName || schemaKey" 
          [multiple]="false">  
        </app-formcontrol-select-rel>
      </div>

      <!-- Select array of relationships (searches for matches) -->
      <div *ngIf="schema[schemaKey].instanceOverride === 'Array' || schema[schemaKey].instance === 'Array'">
        <app-formcontrol-select-rel 
          *ngIf="schema[schemaKey].caster.options && schema[schemaKey].caster.options.ref"
          [form]="form" 
          [object]="object" 
          [searchClass]="schema[schemaKey].caster.options.ref"
          [searchField]="schema[schemaKey].searchField"
          [field]="schemaKey"
          [displayName]="schema[schemaKey].displayName || schemaKey"
          [multiple]="true">
        </app-formcontrol-select-rel>
      </div>

      <!-- Select array of strings -->
      <div *ngIf="schema[schemaKey].instanceOverride === 'Array' || schema[schemaKey].instance === 'Array'">
        <app-formcontrol-array
          *ngIf="schema[schemaKey].caster.options && !schema[schemaKey].caster.options.ref"
          [form]="form" 
          [field]="schemaKey"
          [displayName]="schema[schemaKey].displayName || schemaKey">
        </app-formcontrol-array>
      </div>

      <!-- Single embedded document -->
      <div *ngIf="schema[schemaKey].instanceOverride === 'Embedded' || schema[schemaKey].instance === 'Embedded'">
        <app-formcontrol-group
          [disabled]="schema[schemaKey].instanceOptions && schema[schemaKey].instanceOptions.disabled"
          [form]="form"
          [field]="schemaKey"
          [displayName]="schema[schemaKey].displayName || schemaKey"
          [schema]="schema[schemaKey].schema.obj"
          [submitFunction]="submitFunction"
          [object]="object">
        </app-formcontrol-group>
      </div>

      <!-- Wysiwyg editor -->
      <div *ngIf="schema[schemaKey].instanceOverride === 'Wysiwyg' || schema[schemaKey].instance === 'Wysiwyg'">
        <app-formcontrol-tinymce 
          [form]="form" 
          [field]="schemaKey"
          [displayName]="schema[schemaKey].displayName || schemaKey">
        </app-formcontrol-tinymce>
      </div>

      <!-- Images -->
      <div *ngIf="schema[schemaKey].instanceOverride === 'Image' || schema[schemaKey].instance === 'Image'">
        <app-formcontrol-file-upload
          [isMultiple]="false"
          [field]="schemaKey"
          [displayName]="schema[schemaKey].displayName || schemaKey"
          [object]="object"
          [allowedMimeType]="schema[schemaKey].allowedMimeType"
          [maxFileSize]="schema[schemaKey].maxFileSize"
          [form]="form">
        </app-formcontrol-file-upload>
      </div>

      <!-- File -->
      <div *ngIf="schema[schemaKey].instanceOverride === 'File' || schema[schemaKey].instance === 'File'">
        <app-formcontrol-file-upload
          [isMultiple]="false"
          [field]="schemaKey"
          [displayName]="schema[schemaKey].displayName || schemaKey"
          [object]="object"
          [allowedMimeType]="schema[schemaKey].allowedMimeType"
          [maxFileSize]="schema[schemaKey].maxFileSize"
          [form]="form">
        </app-formcontrol-file-upload>
      </div>

      <!-- Multiple images -->
      <div *ngIf="schema[schemaKey].instanceOverride === 'ImageArray' || schema[schemaKey].instance === 'ImageArray'">
        <app-formcontrol-file-upload
          [isMultiple]="true"
          [field]="schemaKey"
          [displayName]="schema[schemaKey].displayName || schemaKey"
          [object]="object"
          [allowedMimeType]="schema[schemaKey].allowedMimeType"
          [maxFileSize]="schema[schemaKey].maxFileSize"
          [form]="form">
        </app-formcontrol-file-upload>
      </div>

      <!-- Multiple files -->
      <div *ngIf="schema[schemaKey].instanceOverride === 'FileArray' || schema[schemaKey].instance === 'FileArray'">
        <app-formcontrol-file-upload
          [isMultiple]="true"
          [field]="schemaKey"
          [displayName]="schema[schemaKey].displayName || schemaKey"
          [object]="object"
          [allowedMimeType]="schema[schemaKey].allowedMimeType"
          [maxFileSize]="schema[schemaKey].maxFileSize"
          [form]="form">
        </app-formcontrol-file-upload>
      </div>

      <!-- SubDocument -->
      <div *ngIf="schema[schemaKey].instanceOverride === 'SubDocument' || schema[schemaKey].instance === 'SubDocument'">
        <app-formcontrol-subdocument
          *ngIf="object[schemaKey]"
          [displayName]="schema[schemaKey].displayName"
          [value]="schema[schemaKey].displayKey ? object[schemaKey][schema[schemaKey].displayKey] : object[schemaKey]">
        </app-formcontrol-subdocument>
      </div>

      <!-- Default input type -->
      <div
        *ngIf="(schema[schemaKey].instanceOverride !== 'SubDocument' || schema[schemaKey].instance !== 'SubDocument') &&
        (schema[schemaKey].instanceOverride !== 'FileArray' || schema[schemaKey].instance !== 'FileArray') &&
        (schema[schemaKey].instanceOverride !== 'ImageArray' || schema[schemaKey].instance !== 'ImageArray') &&
        (schema[schemaKey].instanceOverride !== 'File' || schema[schemaKey].instance !== 'File') &&
        (schema[schemaKey].instanceOverride !== 'Image' || schema[schemaKey].instance !== 'Image') &&
        (schema[schemaKey].instanceOverride !== 'Wysiwyg' || schema[schemaKey].instance !== 'Wysiwyg') &&
        (schema[schemaKey].instanceOverride !== 'Embedded' || schema[schemaKey].instance !== 'Embedded') &&
        (schema[schemaKey].instanceOverride !== 'ObjectID' || schema[schemaKey].instance !== 'ObjectID') &&
        (schema[schemaKey].instanceOverride !== 'MultiSelect' || schema[schemaKey].instance !== 'MultiSelect') &&
        (schema[schemaKey].instanceOverride !== 'SingleSelect' || schema[schemaKey].instance !== 'SingleSelect') &&
        (schema[schemaKey].instanceOverride !== 'Disabled' || schema[schemaKey].instance !== 'Disabled') &&
        (schema[schemaKey].instanceOverride !== 'Hidden' || schema[schemaKey].instance !== 'Hidden') &&
        (schema[schemaKey].instanceOverride !== 'Date' || schema[schemaKey].instance !== 'Date') &&
        (schema[schemaKey].instanceOverride !== 'Number' || schema[schemaKey].instance !== 'Number') &&
        (schema[schemaKey].instanceOverride !== 'Boolean' || schema[schemaKey].instance !== 'Boolean')">
        <app-formcontrol-input [form]="form" [field]="schemaKey" [inputType]="'text'" [displayName]="schema[schemaKey].displayName || schemaKey"></app-formcontrol-input>
      </div>
    </div>

    <!-- Display validation errors -->
    <control-errors [control]="form.controls[schemaKey]"></control-errors>
  </div>

  <!-- <button type="submit" [disabled]="!form.valid">Save</button> -->
  <button type="submit">Save</button>
</form>
