<div class="container-fluid">
  <div class="page-header">
    <h1>{{adminService.className}}</h1>
    <div class="actions">
      <a [routerLink]="['/admin', adminService.className, 'new']" class="btn btn-primary"><i class="fa fa-plus"></i> Create</a>
      <a (click)="exportToCsv()" class="btn btn-default"><i class="fa fa-file-o" aria-hidden="true"></i> Export to CSV</a>
      <a (click)="filterToggle = !filterToggle" class="btn btn-default">
        <i class="fa fa-filter"></i>
        <span *ngIf="!filterToggle"> Hide Filter</span>
        <span *ngIf="filterToggle"> Show Filter</span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel">
        <div class="panel-body table-responsive">
          <app-filter
            *ngIf="adminService.schema && filterToggle"
            [filters]="filters"
            [schema]="adminService.schema"
            [findAll]="filterFunction"
            [itemsPerPage]="itemsPerPage"
            [skip]="params.skip"
            [sort]="params.sort">
          </app-filter>
          <button *ngIf="selectedItems.length" class="btn btn-danger" (click)="deleteMultiple(selectedItems)">Delete ({{selectedItems.length}}) Items</button>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="wordwrap-none">
                  <input [(ngModel)]="selectAll" (click)="toggleAllSelection()" type="checkbox">
                </th>
                <ng-template ngFor let-key [ngForOf]="adminService.schemaKeys">
                  <th class="wordwrap-none text-muted"
                    *ngIf="adminService.schema[key].instance !== 'Hidden' && adminService.schema[key].instance !== 'Wysiwyg' &&
                    adminService.schema[key].instance !== 'Remove'">
                    <a *ngIf="adminService.schema[key]" (click)="updateSort(key)">
                      {{key}}
                      <i [ngClass]="toggle[key] ? 'fa fa-caret-up' : 'fa fa-caret-down'"></i>
                    </a>
                  </th>
                </ng-template>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let object of objects">
                <td><input type="checkbox" [(ngModel)]="object.Selected" (click)="toggleSelection(object._id)"></td>

                <ng-template ngFor let-schemaKey [ngForOf]="adminService.schemaKeys">
                  <td
                    *ngIf="adminService.schema[schemaKey].instance !== 'Hidden' && adminService.schema[schemaKey].instance !== 'Wysiwyg' && 
                    adminService.schema[schemaKey].instance !== 'Remove'"
                    [ngSwitch]="adminService.schema[schemaKey].instance">

                    <!-- Image -->
                    <div *ngSwitchCase="'Image'">
                      <span>
                        <div class="row">
                          <app-display-file
                            *ngIf="object[schemaKey] && object[schemaKey].url"
                            [files]="[object[schemaKey]]">
                          </app-display-file>
                        </div>
                      </span>
                    </div>

                    <!-- Multiple Images -->
                    <div *ngSwitchCase="'ImageArray'">
                      <span>
                        <div class="row">
                          <app-display-file
                            [files]="object[schemaKey]">
                          </app-display-file>
                        </div>
                      </span>
                    </div>

                    <!-- File -->
                    <div *ngSwitchCase="'File'">
                      <span>
                        <div class="row">
                          <app-display-file
                            *ngIf="object[schemaKey]"
                            [files]="[object[schemaKey]]">
                          </app-display-file>
                        </div>
                      </span>
                    </div>

                    <!-- Multiple Files -->
                    <div *ngSwitchCase="'FileArray'">
                      <span>
                        <div class="row">
                          <app-display-file
                            [files]="object[schemaKey]">
                          </app-display-file>
                        </div>
                      </span>
                    </div>

                    <!-- Select array of strings -->
                    <div *ngSwitchCase="'Array'">
                      <app-display-array
                        *ngIf="adminService.schema[schemaKey].caster.options && !adminService.schema[schemaKey].caster.options.ref && object[schemaKey]"
                        [value]="object[schemaKey]"> 
                      </app-display-array>
                    </div>

                    <!-- Multi select of strings -->
                    <div *ngSwitchCase="'MultiSelect'">
                      <app-display-array
                        [value]="object[schemaKey]"> 
                      </app-display-array>
                    </div>

                    <!-- Single relationship -->
                    <div *ngSwitchCase="'ObjectID'">
                      <app-display-single-rel 
                        *ngIf="adminService.schema[schemaKey].options &&
                                adminService.schema[schemaKey].options.ref &&
                                schemaKey !== '_id'"
                        [value]="object[schemaKey]"
                        [className]="adminService.schema[schemaKey].options.ref"
                        [displayKey]="adminService.schema[schemaKey].displayKey || adminService.schema[schemaKey].searchField">
                      </app-display-single-rel>
                    </div>

                    <!-- Select array of relationships -->
                    <div *ngSwitchCase="'Array'">
                      <app-display-array-rel 
                        *ngIf="adminService.schema[schemaKey].caster.options && adminService.schema[schemaKey].caster.options.ref"
                        [className]="adminService.schema[schemaKey].caster.options.ref"
                        [displayKey]="adminService.schema[schemaKey].displayKey || adminService.schema[schemaKey].searchField"
                        [value]="object[schemaKey]">
                      </app-display-array-rel>
                    </div>

                    <!-- Object Id -->
                    <div *ngSwitchCase="'ObjectID'">
                      <p *ngIf="schemaKey === '_id'">{{object[schemaKey]}}</p>
                    </div>

                    <!-- Array of embedded schemas or custom objects -->
                    <div *ngSwitchCase="'Array'">
                      <div class="truncate">
                        <i class="text-muted" *ngIf="adminService.schema[schemaKey].caster._id">Embedded</i>
                      </div>
                    </div>

                    <!-- Single embedded document -->
                    <div *ngSwitchCase="'Embedded'">
                      <div class="truncate"><i class="text-muted">Embedded</i></div>
                    </div>

                    <!-- Single custom object -->
                    <div *ngSwitchCase="'CustomObject'">
                      <div class="truncate"><i class="text-muted">Embedded</i></div>
                    </div>

                    <!-- Default type -->
                    <div *ngSwitchDefault>
                      {{object[schemaKey]}}
                    </div>
                    
                  </td>
                </ng-template>

                <td>
                  <a [routerLink]="['/admin', adminService.className, object._id]" class="btn btn-default btn-sm">View</a>
                </td>
                <td>
                  <button (click)="deleteItem(object)" class="btn btn-default btn-sm">Delete</button>
                </td>
                <td>
                  <a [routerLink]="['/admin', adminService.className, object._id, 'edit']" class="btn btn-default btn-sm">Edit</a>
                </td>
              </tr>
            </tbody>
          </table>
          <ngb-pagination [collectionSize]="totalObjects" [pageSize]="itemsPerPage" [(page)]="currentPage" [boundaryLinks]="true" [maxSize]="5" [ellipses]="true" (pageChange)="pageChanged()"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
