<div class="container-fluid">
  <div class="page-header">
    <h1>{{adminService.className}}</h1>
    <div class="actions">
      <a [routerLink]="['/admin', adminService.className, 'new']" class="btn btn-primary"><i class="fa fa-plus"></i> Create</a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel">
        <div class="panel-body table-responsive">
          <button *ngIf="selectedItems.length" class="btn btn-danger" (click)="deleteMultiple(selectedItems)">Delete ({{selectedItems.length}}) Items</button>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="wordwrap-none">
                  <input [(ngModel)]="selectAll" (click)="toggleAllSelection()" type="checkbox">
                </th>
                <th *ngFor="let key of adminService.schemaKeys" class="wordwrap-none text-muted">
                  <a *ngIf="adminService.schema[key]" href="#">
                    {{adminService.schema[key].path}}
                    <i class="fa fa-caret-down"></i>
                  </a>
                </th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let object of objects">
                <td><input type="checkbox" [(ngModel)]="object.Selected" (click)="toggleSelection(object._id)"></td>

                <td *ngFor="let schemaKey of adminService.schemaKeys" [ngSwitch]="adminService.schema[schemaKey].instance">

                  <!-- Image -->
                  <div *ngSwitchCase="'Image'">
                    <span>
                      <div class="row">
                        <app-display-file
                          *ngIf="object[schemaKey] && object[schemaKey].url"
                          [isImage]="true"
                          [files]="[object[schemaKey]]">
                        </app-display-file>
                      </div>
                    </span>
                  </div>

                  <!-- Multiple Images -->
                  <div *ngSwitchCase="'ImageArray'">
                    <span>
                      <div class="row">
                        <app-display-file
                          [isImage]="true"
                          [files]="object[schemaKey]">
                        </app-display-file>
                      </div>
                    </span>
                  </div>

                  <!-- File -->
                  <div *ngSwitchCase="'File'">
                    <span>
                      <div class="row">
                        <app-display-file
                          *ngIf="object[schemaKey]"
                          [isImage]="false"
                          [files]="[object[schemaKey]]">
                        </app-display-file>
                      </div>
                    </span>
                  </div>

                  <!-- Multiple Files -->
                  <div *ngSwitchCase="'FileArray'">
                    <span>
                      <div class="row">
                        <app-display-file
                          [isImage]="false"
                          [files]="object[schemaKey]">
                        </app-display-file>
                      </div>
                    </span>
                  </div>

                  <!-- Select array of strings -->
                  <div *ngSwitchCase="'Array'">
                    <app-display-array
                      *ngIf="object[schemaKey]"
                      [value]="object[schemaKey]"> 
                    </app-display-array>
                  </div>

                  <!-- Multi select of strings -->
                  <div *ngSwitchCase="'MultiSelect'">
                    <app-display-array
                      [value]="object[schemaKey]"> 
                    </app-display-array>
                  </div>

                  <!-- Single relationship -->
                  <div *ngSwitchCase="'ObjectID'">
                    <app-display-single-rel 
                      *ngIf="adminService.schema[schemaKey].options &&
                              adminService.schema[schemaKey].options.ref &&
                              schemaKey !== '_id'"
                      [value]="object[schemaKey]"
                      [searchClass]="adminService.schema[schemaKey].options.ref"
                      [searchField]="adminService.schema[schemaKey].searchField"> 
                    </app-display-single-rel>
                  </div>

                  <!-- Object Id -->
                  <div *ngSwitchCase="'ObjectID'">
                    <p *ngIf="schemaKey === '_id'">{{object[schemaKey]}}</p>
                  </div>

                  <!-- Default type -->
                  <div *ngSwitchDefault>
                    {{object[schemaKey]}}
                  </div>
                </td>

                <td>
                  <a [routerLink]="['/admin', adminService.className, object._id]" class="btn btn-default btn-sm">View</a>
                </td>
                <td>
                  <button (click)="deleteItem(object)" class="btn btn-default btn-sm">Delete</button>
                </td>
                <td>
                  <a [routerLink]="['/admin', adminService.className, object._id, 'edit']" class="btn btn-default btn-sm">Edit</a>
                </td>
              </tr>
            </tbody>
          </table>
          <ngb-pagination [collectionSize]="totalObjects" [pageSize]="itemsPerPage" [(page)]="currentPage" [boundaryLinks]="true" [maxSize]="5" [ellipses]="true" (pageChange)="pageChanged()"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
