<div class="form-group">
  <label *ngIf="inputType !== 'hidden'" for="{{field}}" class="col-sm-2 control-label">{{displayName}}</label>
  <div class="col-sm-10">
  <!-- <input *ngIf="!forEmbedded" type="{{inputType}}" class="form-control" [(ngModel)]="adminService.object[field]">
  <input *ngIf="forEmbedded" type="{{inputType}}" class="form-control" [(ngModel)]="adminService.object[embeddedGroupName][field]"> -->
  <p class="text-muted" *ngIf="inputType === 'datetime-local'">timezone offset: {{adminService.tzOffsetInHours}}</p>
  </div>
  <pre>{{adminService.object | json}}</pre>
  <p>modelPath: {{modelPath}}</p>
</div>
