<div class="form-group">
  <label class="col-sm-2 control-label">{{displayName}}</label>
  <div class="col-sm-10">
    <ng-select  [multiple]="multiple"
                [items]="items"
                [disabled]="form.controls[field].disabled"
                [active]="active"
                (data)="refreshValue($event)"
                (selected)="selected($event)"
                (removed)="removed($event)"
                (typed)="typed($event)"
                placeholder="Nothing selected"></ng-select>
  </div>
</div>