<div [formGroup]="form" class="row">
  <label class="col-sm-2 control-label">{{displayName}}</label>
  <div [formArrayName]="field" class="col-sm-10">
    <div *ngFor="let item of form.controls[field].controls; let i = index; ">
      <div class="col-sm-offset-2 col-sm-10">
        <span>Item {{i + 1}}</span>
        <span *ngIf="form.controls[field].controls.length > 1 && !disabled" (click)="removeItem(i)">Remove</span>
      </div>

      <div *ngFor="let key of schemaKeys" [formGroupName]="i" class="form-group">
        <label class="col-sm-2 control-label">{{key}}</label>
        <div class="col-sm-10">
          <input
            type="{{getInputType(key)}}"
            [formControlName]="key"
            class="form-control"
            readonly="{{disabled}}"
            [checked]="form.controls[field].controls[i].controls[key].value"
            (change)="updateFormValue(form.controls[field].controls[i].controls[key].value, key, getInputType(key), i)">
          <div [hidden]="form.controls[field].controls[i].controls[key].valid" class="text-danger">This is required</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-offset-2 col-sm-10" *ngIf="!disabled">
    <a (click)="addItem()">
      Add another item +
    </a>
  </div>
</div>
