<form #form="ngForm">
	<div *ngFor="let filter of filters; let i = index">
    <div class="row">

      <div class="col-md-4 form-group">
        <label for="fieldSelect">Field: </label><br>
	      <select class="form-control" name="fieldSelect_{{i}}" [(ngModel)]="filter.field" required>
		      <option value="">---Please select---</option>
		      <ng-template ngFor let-key [ngForOf]="adminService.schemaKeys">
		      	<!-- If this is a relationship, use the displayKey -->
			      <option
			      	*ngIf="schema[key].instanceOverride !== 'Hidden' || schema[key].instanceOverride !== 'Remove'"
			      	[value]="key">
			      	{{schema[key].displayName || key}}
			      </option>
			    </ng-template>
	      </select>
      </div>

      <div class="col-md-4 form-group" *ngIf="filter.field">
        <label for="operatorSelect">Operator: </label><br>
        <select class="form-control" name="operatorSelect_{{i}}" [(ngModel)]="filter.operator" required>
        	<option value="">---Please select---</option>
		      <option
		      	*ngFor="let operator of filterService.operators[schema[filter.field].instance] || filterService.operators.String"
		      	[value]="operator">
		      	{{operator}}
		      </option>
        </select>
      </div>

      <div *ngIf="filter.operator">
	      <div class="col-md-4 form-group" *ngIf="filter.field && schema[filter.field].instance != 'Boolean' && schema[filter.field].instance != 'Date'">
	        <label for="valueSelect">Value: </label><br>
	        <input
	        	class="form-control"
	        	name="filterValue_{{i}}"
	        	[(ngModel)]="filter.value"
	        	type="search"
	        	required="string" />
	      </div>
	      <div class="col-md-2 form-group" *ngIf="filter.field && schema[filter.field].instance === 'Date'">
	        <label for="valueSelect">Date: </label><br>
	        <input
	        	class="form-control"
	        	name="filterValue_{{i}}"
	        	[(ngModel)]="filter.date"
	        	type="date"
	        	(change)="combineDateTime(filter)"
	        	required />
	      </div>
	      <div class="col-md-2 form-group" *ngIf="filter.field && schema[filter.field].instance === 'Date'">
	        <label for="valueSelect">Time: </label><br>
	        <input
	        	class="form-control"
	        	name="filterValue_{{i}}"
	        	[(ngModel)]="filter.time"
	        	type="time"
	        	(change)="combineDateTime(filter)"
	        	required />
	      </div>
      </div>

    </div>
  </div>
  <div class="pull-right">
    <button type="button" class="btn btn-default" [disabled]="!form.valid" (click)="addFilters()"><i class="fa fa-plus"></i></button>
    <button type="submit" class="btn btn-default" [disabled]="!form.valid" (click)="findAllWithFilters()">Filter</button>
    <button type="submit" class="btn btn-default" *ngIf="filters.length > 1 || form.valid" (click)="clearFilters()">Clear</button>
  </div>
</form>