<div class="container-fluid" *ngIf="object">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel">
        <div class="panel-body table-responsive">
        	<pre>{{object | json}}</pre>

        	<ul class="list-group">
        		<li class="list-group-item" *ngFor="let key of adminService.schemaKeys" [ngSwitch]="adminService.schema[key].instance">

        			<!-- Image -->
				      <div *ngSwitchCase="'Image'">
				        <app-display-file
				          [field]="key"
				          [files]="[object[key]]">
				        </app-display-file>
				      </div>

				      <!-- Multiple Images -->
				      <div *ngSwitchCase="'ImageArray'">
				        <app-display-file
				          [field]="key"
				          [files]="object[key]">
				        </app-display-file>
				      </div>

					    <!-- Default type -->
				      <div *ngSwitchDefault>
				        <app-display-text *ngIf="adminService.schema[key].instance !== 'hidden'" [field]="key" [value]="object[key]"></app-display-text>
				      </div>

        		</li>
        		
        	</ul>
	        <a [routerLink]="['/admin', adminService.className, object._id, 'edit']">Edit</a>
	        <button (click)="deleteItem(object)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
