<div class="container-fluid" *ngIf="object">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel">
        <div class="panel-body table-responsive">
        	<pre>{{object | json}}</pre>

        	<ul class="list-group">
        		<li class="list-group-item" *ngFor="let key of adminService.schemaKeys" [ngSwitch]="adminService.schema[key].instance">
        			<p>Key: {{key}}</p>
        			<p>Instance: {{adminService.schema[key].instance}}</p>

        			<!-- Image -->
				      <div *ngSwitchCase="'Image'">
				        <span>
								  <div class="row">
								    <div class="col-sm-1">
								      <strong class="text-wordwrap">{{key}}:</strong>
								    </div>
									  <app-display-file
									  	*ngIf="object[key]"
						          [isImage]="true"
						          [files]="[object[key]]">
						        </app-display-file>
								  </div>
								</span>
				      </div>

				      <!-- Multiple Images -->
				      <div *ngSwitchCase="'ImageArray'">
				      	<span>
								  <div class="row">
								    <div class="col-sm-1">
								      <strong class="text-wordwrap">{{key}}:</strong>
								    </div>
									  <app-display-file
						          [isImage]="true"
						          [files]="object[key]">
						        </app-display-file>
								  </div>
								</span>
				      </div>

				      <!-- File -->
				      <div *ngSwitchCase="'File'">
				      	<span>
								  <div class="row">
								    <div class="col-sm-1">
								      <strong class="text-wordwrap">{{key}}:</strong>
								    </div>
									  <app-display-file
							      	*ngIf="object[key].url"
							      	[isImage]="false"
						          [files]="[object[key]]">
						        </app-display-file>
								  </div>
								</span>
				      </div>

				      <!-- Multiple Files -->
				      <div *ngSwitchCase="'FileArray'">
				        <span>
								  <div class="row">
								    <div class="col-sm-1">
								      <strong class="text-wordwrap">{{key}}:</strong>
								    </div>
									  <app-display-file
							      	[isImage]="false"
						          [files]="object[key]">
						        </app-display-file>
								  </div>
								</span>
				      </div>

				      <!-- Select array of strings -->
				      <div *ngSwitchCase="'Array'">
				        <app-display-array
				          *ngIf="adminService.schema[key].caster.options && !adminService.schema[key].caster.options.ref && object[key]"
				          [field]="key"
				          [value]="object[key]"> 
				        </app-display-array>
				      </div>

				      <!-- Single select string -->
				      <div *ngSwitchCase="'SingleSelect'">
				        <app-display-text
				        	*ngIf="adminService.schema[key].instance !== 'hidden'"
				        	[field]="key"
				        	[value]="object[key]">
				        </app-display-text>
				      </div>

				      <!-- Multi select of strings -->
				      <div *ngSwitchCase="'MultiSelect'">
				        <app-display-array
				        	*ngIf="object[key]"
				          [field]="key"
				          [value]="object[key]"> 
				        </app-display-array>
				      </div>

				      <!-- Single relationship -->
              <div *ngSwitchCase="'ObjectID'">
                <app-display-single-rel 
                  *ngIf="adminService.schema[key].options &&
                          adminService.schema[key].options.ref &&
                          key !== '_id'"
                  [value]="object[key]"
                  [field]="key"
                  [searchClass]="adminService.schema[key].options.ref"
                  [searchField]="adminService.schema[key].searchField"> 
                </app-display-single-rel>
              </div>

              <!-- Object Id -->
              <div *ngSwitchCase="'ObjectID'">
                <app-display-text
				        	*ngIf="key === '_id'"
				        	[field]="key"
				        	[value]="object[key]">
				        </app-display-text>
              </div>

					    <!-- Default type -->
				      <div *ngSwitchDefault>
				        <app-display-text
				        	*ngIf="adminService.schema[key].instance !== 'hidden'"
				        	[field]="key"
				        	[value]="object[key]">
				        </app-display-text>
				      </div>

        		</li>
        		
        	</ul>
	        <a [routerLink]="['/admin', adminService.className, object._id, 'edit']">Edit</a>
	        <button (click)="deleteItem(object)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
